@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  /* background-image: url('../public/assets/images/background.png'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 46%;
  background-position-y: -46%;
  backdrop-filter: blur(100%);
  background-color: white;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #060A21
}

div, p {
  padding: 0px;
  margin: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  color: white;
}

.image-control {
  @apply lg:w-52 lg:h-40 w-40 h-32
}
.intro-control {
 @apply m-0 top-0 left-0 translate-x-0.5 translate-y-0.5
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
